@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideRight {
  animation: slideRight 0.5s ease;
}

.animate-slideLeft {
  animation: slideLeft 0.5s ease;
}
